<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryConnectionString" connectionString="Data Source=DESKTOP-5H6RLHG;Initial Catalog=Inventory;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="NLayerConnectionString" connectionString="Data Source=DESKTOP-5H6RLHG;Initial Catalog=Inventory;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFInsertInventoryService.WCFInsertService">
                <endpoint address="" binding="basicHttpBinding" contract="WCFInsertInventoryService.IWCFInsertService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFInsertInventoryService/WCFInsertService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
